<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/81136e88-78a0-4b3b-be59-fbdb274bfd42/resourceGroups/ksb_test_db/providers/Microsoft.Web/sites/KSB-test-webapi</ResourceId>
    <ResourceGroup>ksb_test_db</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ksb-test-webapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ksb-test-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$KSB-test-webapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>